body {
    margin:0px;
    overflow:hidden;
}

#balancedzone{
    width:100%;
    height:400px;
    background-color:#333333;
    cursor: none;
}

#framestick{
    position: relative;
    left: 0;
    top: 0;
    width:800px;
    height:400px;
}


